/* ------ Import CSS reset ------------------------------ */
@import url("reset.css");

/* ------ Colors ---------------------------------------- */
/*
#2d2d2d - dark gray             #90af4c - green
#4d88cf - blue                  #ecf4fd - highlight blue
#eb6b30 - orange                #f4f4ee - main background
#e6e6dc - footer background
*/

html { height: 100%; font-size: 100%; }
body { height: 100%; color: #333; font: 11px/16px Verdana,sans-serif; background: #f4f4ee; }
#content { background: transparent; position: relative; min-height: 100%; }
* html #content { height: 100%; }

.clear { height: 0; width: 0; line-height: 0; clear: both; font-size: 0; visibility: hidden; }
.right { float: right; }
.left { float: left; }

h1, h2, h3 { color: #90af4c; margin: 0 0 16px 0; height: auto; }
h1 { font-size: 22px; line-height: 34px; letter-spacing: -1px; }
h2 { font-size: 18px; line-height: 16px; letter-spacing: -1px; text-shadow: 1px 1px 2px #cecece; }
h3 { font-size: 13px; line-height: 16px; margin: 0 0 5px 0; color: #4d88cf; }
.toggle { padding: 6px 0 6px 20px; background: url('../images/minus.gif') no-repeat left center; }
.toggle:hover { cursor: pointer; color: #90af4c; }
.closed { padding: 6px 0 6px 20px; background: url('../images/plus.gif') no-repeat left center; }
.disabled { color: #888; }

#header { width: 100%; min-width: 860px; background: #2d2d2d url('../images/head-bg.gif') top left repeat-x; border-bottom: 4px solid #90af4c; }
#main, #inner-header { width: 92%; min-width: 860px; margin: 0 auto; }
#main { padding: 15px 0 0 0; margin-bottom: 20px; overflow: hidden; }
#inner-header { position: relative; height: 80px; }
#inner-header h1 { padding: 24px 0 1px 0; color: #999; width: 0; font-family: "Trebuchet MS",sans-serif; text-shadow: 0 3px 0 #111; }
#inner-header h1:hover { color: #ccc; cursor: default; }

#status { position: absolute; top: 6px; right: 0; color: #bbb; font-size: 12px; background: #2d2d2d; padding: 2px 7px 4px 7px; border: 1px solid #707070; border-width: 0 1px 1px 1px; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }
#status a:link, #status a:visited { color: #bbb; font-size: 12px; }
#status a:hover { color: #90af4c; }

#shadow { width: 100%; height: 6px; background: transparent url('../images/shadow-trans.png') top left repeat-x; }

#left-column { float: left; width: 73%; margin: 0 1% 0 0; }
#left-column p, #left-column table, #left-column a { font-size: 11px; }
#left-column p { margin-bottom: 16px; }

#right-column { float: right; width: 25%; }
#right-column h3 { padding: 0 0 2px 0; color: #90af4c; border-bottom: 1px dotted #bbb; text-shadow: 0 1px 0 #fff; }
#right-column .right-container { padding: 0 0 15px 0; color: #666; }
#right-column p { color: #666; }

#nav { position: absolute; left: 0; bottom: 0; width: 100%; height: 0; }
#nav-left { list-style: none; position: absolute; bottom: 0; left: 0; }
#nav-right { list-style: none; position: absolute; bottom: 0; right: 0; }
#nav-left li, #nav-right li { display: inline; }
#nav-left li a, #nav-right li a { display: block; float: left; padding: 0 0 0 14px; margin: 0 0 0 2px; color: #bbb; text-decoration: none; font-size: 12px; font-weight: bold; outline: none; background: #484848 url('../images/tab-tl.gif') no-repeat top left; }
#nav-left li a { margin: 0 2px 0 0; }
#nav-left li a:hover,#nav-right li a:hover { background: #90af4c url('../images/tab-tl.gif') no-repeat top left; }
#nav-left li a.active,#nav-right li a.active { background: #90af4c url('../images/tab-tl.gif') no-repeat top left; }
#nav-left li a span,#nav-right li a span { line-height: 1.8em; padding: 0 14px 0 0; display: block; width: auto; background: #484848 url('../images/tab-tr.gif') no-repeat top right; }
#nav-left li a:hover span,#nav-left li a.active span,#nav-right li a:hover span,#nav-right li a.active span { display: block; width: auto; color: #fff; text-shadow: 1px 2px 2px #555; background: #90af4c url('../images/tab-tr.gif') no-repeat top right; }
#nav-left li a:hover span,#nav-right li a:hover span { color: #fff; background: #90af4c url('../images/tab-tr.gif') no-repeat top right; }
#nav-left li a.active span,#nav-right li a.active span { display: block; width: auto; color: #fff; background: #90af4c url('../images/tab-tr.gif') no-repeat top right; }
#nav-left li a.active,#nav-right li a.active,#nav-left li a.active span,#nav-right li a.active span { cursor: default; }

.box { padding: 10px; margin: 0 5px 5px 0; background: #fff; border: 1px solid #bbb; -moz-border-radius: 8px; -webkit-border-radius: 8px; -moz-box-shadow: 2px 2px 3px #ddd; -webkit-box-shadow: 2px 2px 3px #ddd; }

dl { }
dl a:link, dl a:visited { color: #4d88cf; }
dl a:hover { color: #90af4c; }
dt { float: left; width: 125px; font-size: 12px; line-height: 2.1em; text-align: right; }
.right-container dt { float: left; width: 55px; font-size: 11px; line-height: 2.1em; text-align: right; }
dt label:after { content: ":"; }
dt label:hover { cursor: pointer; }
dd { margin: 0 0 5px 135px; line-height: 2em; color: #333; }
.right-container dd { margin: 0 0 5px 65px; line-height: 2em; color: #333; }
label:hover { cursor: pointer; }

#login-content, #wide-content { margin: 0 auto; width: 375px; }
#wide-content { width: 580px; }
#login-content h1, #wide-content h1 { color: #90af4c; padding: 15px 0 0 0; width: auto; text-align: center; font-family: "Trebuchet MS",Verdana,sans-serif; text-shadow: 0 1px 0 #fff; }
#wide-content a:link { color: #4d88cf; }
#wide-content a:hover { color: #9c0; }
#login-content dl, #wide-content dl { margin: 15px 10px; }
#login-content dt { float: left; width: 85px; font-size: 12px; line-height: 2.1em; text-align: right; }
#login-content dd { margin: 0 0 5px 95px; line-height: 2em; color: #333; }
#wide-content dt { float: left; width: 130px; font-size: 12px; line-height: 2.1em; text-align: right; }
#wide-content dd { margin: 0 0 5px 140px; line-height: 2em; color: #333; }
#login-content dt label:after, #wide-content dt label:after { content: ":"; }

form { margin: 0 0 5px 0; }
.textfield, .textarea, .selectbox, #jumpbox .textfield { padding: 4px; background: #fff; border: 1px solid #ccc; font: 12px Verdana,sans-serif; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.textfield:hover, .textarea:hover, .selectbox:hover { border: 1px solid #999; }
.textfield:focus, .textarea:focus, .selectbox:focus { border: 1px solid #4d88cf; }
.textarea { width: 440px; overflow: auto; }
form a:link, form a:visited { color: #4d88cf; }
form a:hover { color: #90af4c; }
#jumpbox .textfield { border: 2px solid #aaa; }
#jumpbox .textfield:hover { border: 2px solid #999; }
#jumpbox .textfield:focus { border: 2px solid #90af4c; }
/*.button { padding: 2px 3px; font: 12px Verdana,sans-serif; }*/
.button { margin: 3px 0; padding: 2px 12px 2px; width: auto; color: #839F45; font-size: 12px; font-family: verdana,sans-serif; font-weight: bold; cursor: pointer; -moz-border-radius: 14px; -webkit-border-radius: 14px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25); background: #fff url('../images/button-gradient.png') repeat-x 0 0; border-color: rgba(0,0,0,0.25) rgba(0,0,0,0.25) rgba(0,0,0,0.35); border-style: solid; border-width: 1px; text-decoration: none; text-shadow: 0 1px 1px rgba(255,255,255,0.65); outline: none; overflow: visible; display: inline; line-height: 14px; }
.button::-moz-focus-inner { border-color: transparent; }
.button:hover { background-color: #f4f4f4; color: #666; }
.button:active { background: #f4f4f4; color: #839F45; }
.green.button { margin: 0 0 8px 0; padding: 3px 12px 4px; background-color: #90af4c; color: #fff; width: 100%; display: block; text-shadow: 0 -1px 1px rgba(0,0,0,0.35); }
.green.button:hover { background-color: #839F45; }
.green.button:active { background: #839F45; }

#ticket-filter p { margin: 3px 0; padding: 0; }
#ticket-filter label { display: block; font-weight: bold; }

#errorExplanation { width: 65%; display: block; border: 2px solid #c00; padding: 7px 7px 12px 7px; margin: 0 auto 12px auto; background-color: #fee; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#errorExplanation h2 { text-align: left; margin: -7px; font-weight: bold; padding: 5px 5px 5px 25px; font-size: 11px; background: #fee url('../images/exclamation.png') 5px center no-repeat; color: #c00; border-bottom: 1px dotted #c00; text-shadow: none; }
#errorExplanation p { margin: 5px 0; padding: 5px; }
#errorExplanation ul li { font-size: 11px; list-style: square; }
#errorExplanation ul { padding: 0 0 0 15px; }
.fieldWithErrors { border: 2px solid #c00; display: inline-block; padding: 0; margin: 0; }
.validation-error { font-size: 11px; color: #c00; font-style: italic; font-weight: normal; }

.flash { margin-bottom: 16px; padding: 5px 5px 5px 25px; position: relative; background: #efe url('../images/accept.png') 5px center no-repeat; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.flash p { margin: 0 !important; padding: 2px; background: transparent; color: #585; }
.f-warning { background: #ffd url('../images/error.png') 5px center no-repeat; }
.f-error { background: #fee url('../images/exclamation.png') 5px center no-repeat; }
.f-warning p { color: #da9b25; }
.f-error p { color: #c00; }

#active-listing, #closed-listing, #assigned-to-listing { overflow: hidden; }

#timeline-wrapper { margin: 0 0 10px 0; padding: 0; overflow: hidden; }
.timeline { padding: 0; margin: 0; width: auto; background: #fff;}
.timeline ul { position: relative; display: inline-block; bottom: 0; left: 0; font-size: 10px; height: 55px; margin: 0; padding: 0; background: #fff; white-space: nowrap; }
.timeline li { position: relative; float: left; width: 0.9em; margin: 0 2px 0 0; padding: 0; height: 100%; background: #f2f2f2; }
.timeline li a { cursor: default; display: block; height: 100%; }
.timeline li a .count { padding: 0; margin: 0; display: block; position: absolute; bottom: 0; left: 0; height: 0; width: 100%; background: #bdbdbd; text-indent: -9999px; overflow: hidden; }
.timeline li:hover { background: #dedede; }
.timeline li a:hover .count { background: #4d88cf; }
.timeline-label { display: block; font-weight: normal; font-style: italic; text-align: center; padding: 0; margin: 0; line-height: 20px; }

.listing { width: 100%; border-collapse: collapse; margin: 2px 0 16px 0; background: #fff; line-height: 11px; border-top: 1px solid #ccc; }
.listing th, .listing td { text-align: left; padding: 4px 2px; border-bottom: 1px solid #ccc; }
.listing th { color: #888; padding: 6px 2px; }
.listing tr { background: #f7f7f7; }
.listing tr.list-line-odd { background: #fff; }
.listing tr:hover { background: #ecf4fd; }
.listing tr.header { background: #f1f1f1; }
.listing tr.header:hover { background: #f1f1f1; }
.listing a { padding: 2px 0; }
.listing a:link, .listing a:visited { display: block; color: #4d88cf; }
.listing a:hover { color: #90af4c; }
.listing a.high { background: url('../images/bullet_red.png') left center no-repeat; padding: 2px 0 2px 16px; font-weight: bold; }
.listing a.medium { background: url('../images/bullet_yellow.png') left center no-repeat; padding: 2px 0 2px 16px; font-weight: bold; }
.listing a.low { background: url('../images/bullet_blue.png') left center no-repeat; padding: 2px 0 2px 16px; font-weight: bold; }
.listing a.custom { background: url('../images/bullet_black.png') left center no-repeat; padding: 2px 0 2px 16px; font-weight: bold; }

.listing-controls { margin: 0 0 12px 0; width: 100%; border-collapse: collapse; }
.listing-controls .left-td { text-align: left; width: 50%; }
.listing-controls .mid-td { text-align: center; width: 100%; }
.listing-controls .right-td { text-align: right; width: 50%; }

#filter-links { list-style: disc inside; color: #777; margin: 0; padding: 0; }
#filter-links li { padding: 3px 0; margin: 0; }
#filter-links a:link, #filter-links a:visited { color: #4d88cf; }
#filter-links a:hover { color: #90af4c; }

#controls { padding: 4px; background: #f4f4ee; color: #aaa; border: 1px solid #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#controls a:link, #controls a:visited { color: #4d88cf; }
#controls a:hover { color: #90af4c; }
#controls a { padding: 3px 0 3px 20px; position: relative; line-height: 16px; }
#controls .edit-ticket { background: transparent url('../images/edit-ticket.png') no-repeat 0 1px; }
#controls .pdf { background: transparent url('../images/document-pdf.png') no-repeat 0 1px; }
#controls .edit-user { background: transparent url('../images/edit-user.png') no-repeat 0 1px; }
#controls .edit-contact { background: transparent url('../images/edit-contact.png') no-repeat 0 1px; }
#controls .add-comment { background: transparent url('../images/add-comment.png') no-repeat 0 1px; }
#controls .add-attach { background: transparent url('../images/add-attachment.png') no-repeat 0 1px; }
#controls .add-alert { background: transparent url('../images/add-alert.png') no-repeat 0 1px; }
#controls .delete-alert { background: transparent url('../images/delete-alert.png') no-repeat 0 1px; }
#controls .delete { background: transparent url('../images/delete.png') no-repeat 0 1px; }
#controls .disable { background: transparent url('../images/disable.png') no-repeat 0 1px; }
#controls .enable { background: transparent url('../images/accept.png') no-repeat 0 1px; }
#controls .unlock { background: transparent url('../images/unlock.png') no-repeat 0 1px; }
#controls .back { background: transparent url('../images/back-arrow.png') no-repeat 0 1px; }

#tickets_per_page span { font-weight: normal; margin: 0; padding: 0; }
#tickets_per_page a:link, #tickets_per_page a:visited { color: #4d88cf; }
#tickets_per_page a:hover { color: #90af4c; }

.alpha-index { margin: 0 auto 12px auto; padding: 5px; text-align: center; }
.alpha-index a:link, .alpha-index a:visited, .alpha-index a:hover, .alpha-index .selected { color: #4d88cf; border: 1px solid #4d88cf; font-weight: bold; text-decoration: none; padding: 1px 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.alpha-index a:hover { border: 1px solid #4d88cf; background: #4d88cf; color: #fff; }
.alpha-index .selected, .alpha-index .selected:hover { border: 1px solid #4d88cf; background: #4d88cf; color: #fff !important; }

.profile { width: 100%; border-collapse: collapse; margin: 20px auto 10px auto; background: #fff; line-height: 16px; border-bottom: 1px solid #ececec; }
.profile td { padding: 4px; border-top: 1px solid #ececec; }
.profile td.field, .profile td.field-row { font-weight: bold; text-align: left; width: 14%; }
.profile td.field-row { text-align: left; }
.profile td.value-row { border-top: none; }
.profile a:link, .profile a:visited { color: #4d88cf; }
.profile a:hover { color: #90af4c; }

.profile-avatar { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border-top: 1px solid #f3f3f3; border-bottom: 1px solid #d0d0d0; border-left: 1px solid #f0f0f0; border-right: 1px solid #e7e7e7; padding: 3px; margin: 0 5px 0 0; }

#attachment-list, #comment-list, #alert-list { margin: 3px 0 16px 0; overflow: hidden; }
#attachment-list li, #alert-list li { padding: 4px 0; margin: 0; display: block; }
#attachment-list li span, #alert-list li span { display: none; margin: 0; padding: 0; }
#attachment-list li span a, #alert-list li span a { margin: 0; padding: 3px 4px 3px 20px; background: #fee url('../images/trash.png') no-repeat 2px center; color: #c00 !important; font-weight: normal; border: 1px solid #fee; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#attachment-list li:hover span, #alert-list li:hover span { display: inline; }
#attachment-list a { padding: 3px 0 3px 20px; }
#attachment-list a:link, #attachment-list a:visited, #alert-list a:link, #alert-list a:visited { color: #4d88cf; }
#attachment-list a:hover, #alert-list a:hover { color: #90af4c; }
#attachment-list .pdf { background: transparent url('../images/document-pdf.png') no-repeat 0 2px; }
#attachment-list .image { background: transparent url('../images/document-image.png') no-repeat 0 2px;}
#attachment-list .excel { background: transparent url('../images/document-excel.png') no-repeat 0 2px; }
#attachment-list .word { background: transparent url('../images/document-word.png') no-repeat 0 2px; }
#attachment-list .text { background: transparent url('../images/document-text.png') no-repeat 0 2px; }
#attachment-list .ppt { background: transparent url('../images/document-powerpoint.png') no-repeat 0 2px; }
#attachment-list .video { background: transparent url('../images/document-film.png') no-repeat 0 2px; }
#attachment-list .audio { background: transparent url('../images/document-music.png') no-repeat 0 2px; }
#attachment-list .zip { background: transparent url('../images/document-zipper.png') no-repeat 0 2px; }
#attachment-list .unknown { background: transparent url('../images/document.png') no-repeat 0 2px; }

#attachment_limit { display: block; margin: 0; padding: 0; color: #666; font-size: 10px; font-style: italic; font-weight: normal; }

#add-attachment, #add-comment { background-color: #fff; }
#add-attachment p, #add-comment p { margin: 0 0 5px 0; padding: 3px; }
#close-check { display: inline-block; }

.admin-list { margin: 0 0 5px 0; padding: 0; }
.admin-list li { padding: 4px 0; margin: 0; display: block; }
.admin-list li span { display: none; margin: 0; padding: 0; }
.admin-list li span .disable, .admin-list li span .enable { margin: 0; padding: 4px 4px 4px 20px; background: #fee url('../images/disable.png') no-repeat 2px center; color: #c00 !important; font-weight: normal; border: 1px solid #fee; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.admin-list li span .enable { background: #efe url('../images/accept.png') no-repeat 2px center; color: #585 !important; border: 1px solid #efe; }
.admin-list li:hover span { display: inline; }

.admin-form { overflow: hidden; }
.admin-form label { display: block; font-weight: bold; }
.admin-form p { margin: 0; padding: 0; }

ul.jquery-tabs { height: 30px; border-bottom: 1px solid #ccc; }
ul.jquery-tabs li { float: left; list-style-type: none; }
ul.jquery-tabs a { float: left; font-size: 12px !important; display: block; padding: 5px 30px; text-decoration: none; border: 1px solid #ccc; border-bottom: 0; height: 18px; background: #fff url('../images/tab-bg.jpg') bottom left repeat-x; color: #777; font-weight: bold; margin-right: 6px; position: relative; top: 1px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; }
ul.jquery-tabs a:hover { color: #4d88cf; }
ul.jquery-tabs a.current { background: #fff; border-bottom: 1px solid #fff; color: #90af4c; cursor: default; }
div.jquery-tab-panes .pane { display: none; min-height: 110px; padding: 10px; background-color: #fff; border: 1px solid #ccc; border-top: 0; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }
div.jquery-tab-panes .pane ul { font-weight: bold; }

.datepicker { position: relative; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #fff; -moz-box-shadow: 2px 2px 3px #ddd; -webkit-box-shadow: 2px 2px 3px #ddd; border: 1px solid #bbb; -moz-border-radius: 6px; -webkit-border-radius: 6px; width: 192px; height: 147px; position: absolute; cursor: default; top: 0; left: 0; display: none; }
.datepickerContainer { background: #fff; position: absolute; top: 10px; left: 10px; }
.datepickerBorderT { position: absolute; left: 10px; top: 0; right: 10px; height: 10px; }
.datepickerBorderB { position: absolute; left: 10px; bottom: 0; right: 10px; height: 10px; }
.datepickerBorderL { position: absolute; left: 0; bottom: 10px; top: 10px; width: 10px; }
.datepickerBorderR { position: absolute; right: 0; bottom: 10px; top: 10px; width: 10px; }
.datepickerBorderTL { position: absolute; top: 0; left: 0; width: 10px; height: 10px; }
.datepickerBorderTR { position: absolute; top: 0; right: 0; width: 10px; height: 10px; }
.datepickerBorderBL { position: absolute; bottom: 0; left: 0; width: 10px; height: 10px; }
.datepickerBorderBR { position: absolute; bottom: 0; right: 0; width: 10px; height: 10px; }
.datepickerHidden { display: none; }
.datepicker table { border-collapse:collapse; }
.datepicker a { color: #777; text-decoration: none; cursor: default; outline: none; }
.datepicker table td { text-align: right; }
.datepicker th { text-align: center; color: #333; font-weight: normal; }
.datepicker tbody th { text-align: left; }
.datepicker tbody a { display: block; }
.datepickerDays a { width: 20px; line-height: 16px; height: 16px; padding-right: 2px; }
.datepickerYears a, .datepickerMonths a { width: 44px; line-height: 36px; height: 36px; text-align: center; }
td.datepickerNotInMonth a { color: #ddd; }
tbody.datepickerDays td.datepickerSelected { background-color: #4d88cf; }
tbody.datepickerDays td.datepickerSelected a { color: #fff; }
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected { background: #4d88cf; }
tbody.datepickerYears td.datepickerSelected, tbody.datepickerMonths td.datepickerSelected { background: #4d88cf; }
.datepicker a:hover, .datepicker a:hover { color: #4d88cf; }
.datepicker td.datepickerNotInMonth a:hover { color: #999; }
.datepicker tbody th { text-align: left; }
.datepickerSpace div { width: 20px; }
.datepickerGoNext a, .datepickerGoPrev a, .datepickerMonth a { text-align: center; height: 20px; line-height: 20px; }
.datepickerGoNext a { float: right; width: 20px; }
.datepickerGoPrev a { float: left; width: 20px; }
table.datepickerViewDays tbody.datepickerMonths, table.datepickerViewDays tbody.datepickerYears { display: none; }
table.datepickerViewMonths tbody.datepickerDays, table.datepickerViewMonths tbody.datepickerYears, table.datepickerViewMonths tr.datepickerDoW { display: none; }
table.datepickerViewYears tbody.datepickerDays, table.datepickerViewYears tbody.datepickerMonths, table.datepickerViewYears tr.datepickerDoW { display: none; }
td.datepickerDisabled a, td.datepickerDisabled.datepickerNotInMonth a { color: #333; }
td.datepickerDisabled a:hover { color: #333; }
td.datepickerSpecial a { background: #700; }
td.datepickerSpecial.datepickerSelected a { background: #a00; }

.comment { padding: 3px 3px 0 3px; margin: 0 0 1px 0; background-color: #fff; }
.comment:hover { -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.comment h4 { margin: 0; padding: 5px 0; }
.comment .counter { padding: 3px 2px; font-size: 13px; background: #ccc; color: #fff; border: 1px solid #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.comment .counter:before { content: "#"; }
.comment:hover .counter { background: #90af4c; border: 1px solid #90af4c; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.comment .timestamp { font-weight: normal; padding: 0; margin: 0; font-style: italic; }
.comment .delete-comment { display: none; margin: 0; padding: 0; }
.comment .delete-comment a { margin: 0; padding: 3px 4px 3px 20px; background: #fee url('../images/trash.png') no-repeat 2px center; color: #c00 !important; font-weight: normal; border: 1px solid #fee; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.comment:hover .delete-comment { display: inline; }
.comment p { margin: 0; padding: 3px 0 0 0; }
.comment a { padding: 0 6px; }
.comment a:link, .comment a:visited { color: #4d88cf; }
.comment a:hover { color: #90af4c; }

.pagination { width: auto; text-align: center; }
.pagination a, span { text-decoration: none; padding: 1px 5px; margin: 0 0 0 2px; font-weight: bold; }
.pagination a:link, .pagination a:visited { border: 1px solid #4d88cf; text-decoration: none; color: #4d88cf; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.pagination a:hover, .pagination a:active { border: 1px solid #4d88cf; background: #4d88cf; color: #fff !important; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.pagination span.current { border: 1px solid #4d88cf; font-weight: bold; background: #4d88cf; color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.pagination span.disabled { border: 1px solid #ccc; color: #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

#footer { position: relative; margin-top: -32px; height: 32px; width: 100%; text-align: center; background: #e6e6dc url('../images/shadow-trans.png') repeat-x top left; }
#footer p { padding: 8px 8px 0 8px; margin: 0; color: #777; text-shadow: 0 1px 0 #fff; }
#footer a { color: #777; text-decoration: none; }
#footer a:hover { color: #90af4c; text-decoration: underline; }
