<div class="alpha-index">
  <%= link_to "*", { :action => "index" }, :title => "All" -%>
  <% ("A".."Z").each do |letter| -%>
    <% if letter == @initial -%>
      <%= link_to letter, { :action => "index", :index => letter }, :class => "selected", :title => letter -%>
    <% else -%>
      <%= link_to letter, { :action => "index", :index => letter }, :title => letter -%>
    <% end -%>
  <% end -%>
</div>
